{% extends "base.html" %} {% block title %}Chatbot{% endblock %} {% block content
%}
<style>
  li {
    color : black;
  }
  .btn {
    margin : 50px ;
    padding : 15px 100px
  }
</style>
<br/>
<h1 align="center">Rule Based Chatbot</h1>
<h3>Welcome {{ user.name }}</h3>
<br/>

<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
    <p> <b>User : </b> {{ note.data }}</p> 
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
    <p> <b>Response : </b> {{ note.response }}</p> 
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Ask</button>
  </div>
</form>
{% endblock %}
